{% for section in text %}
  <div class="row">
    <div class="col-lg-12">
      <div class="jumbotron uninett-color-darkBlue uninett-pattern1">
    <h2>{{ section.section }}</h2>
      </div>
    </div>
  </div>
  <div class="row uninett-color-white uninett-whole-row">
    <div class="col-lg-6 col-md-6 uninett-color-white uninett-padded gutter">
      <div>{{ section.introductory_text }}</div>
      <ul class="uninett-ul">
{% for para in section.paragraphs %}
{% if para.text or para.notes %}
<li class="uninett-ul-li">
    {{ para.text }}{% if para.notes %}
    <p>Note: {{ para.notes }}</p>{% endif %}
</li>
{% endif %}
{% endfor %}
</ul>
{% endfor %}
