{% extends "dmp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="jumbotron uninett-color-lightBlue">
		<h2>Data Management Plan Generator</h2>
	</div>
	<div class="row uninett-color-white uninett-whole-row">
		<div class="col-lg-12 col-md-12 uninett-color-white uninett-padded gutter">
{% crispy form %}
		</div>
	</div>
{% endblock content %}
