{% extends "dmp/base.html" %}
{% block content %}
	<div class="row">
		<div class="col-lg-12">
			<div class="jumbotron uninett-color-darkBlue uninett-pattern1">
<h1>Your plans</h1>
			</div>
		</div>
	</div>

	<div class="row uninett-color-white uninett-whole-row">
		<div class="col-lg-12 col-md-12 uninett-color-white uninett-padded gutter">
			<table class="dmptable" width="80%">
				<thead>
					<tr>
						<th>Name</th>
						<th>Created</th>
						<th colspan="3">Download</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for object in object_list %}
					<tr>
						<td><a href="{% url 'plan_detail' plan=object.id %}">{{ object.plan_name|capfirst }}</a></td>
						<td>{{ object.added|date:"Y-m-d" }}</td>
						<td><a href="{% url 'generated_plan_text' plan=object.id %}">Text</a></td>
						<td><a href="{% url 'generated_plan_html' plan=object.id %}">Html</a></td>
						<td><a href="{% url 'generated_plan_pdf' plan=object.id %}">PDF</a></td>
						<td><a href="{% url 'plan_delete' plan=object.id %}">Delete</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock content %}
