{% extends "dmp/base.html" %}
{% block content %}
	<div class="row">
		<div class="col-lg-12">
			<div class="jumbotron uninett-color-darkBlue uninett-pattern1">
<h1>{{ object.plan_name|capfirst }} {{ object.added|date:"Y-m-d H:i:s" }}</h1>
			</div>
		</div>
	</div>

	<div class="row uninett-color-white uninett-whole-row">
		<div class="col-lg-12 col-md-12 uninett-color-white uninett-padded gutter">
<table class="dmptable">
{% for state, value in output.items %}
<tr>
    <th><a href="{% url 'new_state' plan=object.id state=state %}">{{ state }}<th>
    <td>{{ value.state }}</td>
    <td>{{ value.notes }}</td>
</tr>
{% endfor %}
</table>
</div></div>

	<div class="row uninett-color-white uninett-whole-row">
		<div class="col-lg-12 col-md-12 uninett-color-white uninett-padded gutter">

<h2>Scores</h2>

<table class="dmptable">
{% for scorename, score in scores.items %}
<tr><th>{{ scorename }}</th><td>{{ score }}</td></tr>
{% endfor %}
</table>

</div></div>

	<div class="row uninett-color-white uninett-whole-row">
		<div class="col-lg-12 col-md-12 uninett-color-white uninett-padded gutter">
<h2>Generated text</h2>

<table class="dmptable"r>
<td><a href="{% url 'generated_plan_text' plan=object.id %}">Text</a></td>
<td><a href="{% url 'generated_plan_html' plan=object.id %}">Html</a></td>
<td><a href="{% url 'generated_plan_pdf' plan=object.id %}">PDF</a></td>
</table>
</div></div>
	<div class="row uninett-color-white uninett-whole-row">
		<div class="col-lg-12 col-md-12 uninett-color-white uninett-padded gutter">
<h2>Action</h2>
<p><a href="{% url 'plan_delete' plan=object.id %}">Delete this plan (no undo)</a></p>
</div></div>
<div>
    <br />
    <br />
    <br />
</div>
{% endblock content %}
