<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Sigma2 DMP{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap3/css/bootstrap.css' %}" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'external/uninett-bootstrap-theme/css/uninett.css' %}" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
        html {
          position: relative;
          min-height: 100%;
        }
        body {
            margin: 1em;
        }
        .footer {
          padding: 1em;
          position: absolute;
          bottom: 0;
          width: 100%;
          /* Set the fixed height of the footer here */
          height: 60px;
          background-color: #f5f5f5;
        }
        table.dmptable td {
          padding-right: 1ex;
        }
        table.dmptable th {
          padding-right: 1ex;
        }
        .asteriskField { color: red }
    </style>
    {% block extrahead %}{% endblock %}
</head>
<body>
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="#"><img src="https://www.sigma2.no/sites/all/themes/sigma2/images/UNINETT_Sigma2_logo_H.png" alt="Uninett logo" width="300px"></a>
			</div>
			<div class="navbar-department">
				<div class="department">DMP</div>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
        			<li>
						<a href="{% url 'home' %}">Home</a>
					</li>
					{% if request.user.is_authenticated %}
					<li><a href="{% url 'plan_list' %}">Your plans</a></li>
					<li><a href="{% url 'new_plan' %}">Create a new plan</a></li>
					{% if request.user.is_staff %}
					<li><a href="{% url 'admin:index' %}">Admin</a></li>
					{% endif %}
            <li> 
                <a href="{% url 'logout' %}"><button type="button" class="btn btn-default">Log out</button></a>
            </li>
					{% else %}
            <li class="uninett-login">
                <a href="{% url 'social:begin' backend='dataporten_feide' %}"><button type="button" class="btn btn-default uninett-login-btn"><span class="glyphicon glyphicon-user uninett-fontColor-red"></span>Log in</button></a>
            </li>
					{% endif %}

				</ul>
			</div>	
		</div>
	</div>
<div class="container">
	
{% block content %}
</div>
{% endblock %}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
<script src="{% static 'bootstrap3/js/bootstrap.min.js' %}"></script>
{% block postload %}{% endblock %}
</body>
</html>
